<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="in.dotSlashA"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".GridMenu"
                  android:label="@string/app_name"
                  android:theme="@style/TitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<activity android:name=".dynamicTheme.DynamicTheming"
				android:theme="@android:style/Theme.Dialog"/>
				
	<activity android:name=".floatingButton.FloatingViewApp"
				android:theme="@style/TitleTheme"/>
	<activity android:name=".floatingButton.FloatingButton"
				android:theme="@style/TitleTheme"/>
	
	        <receiver android:name =".intentReciever.RecieverInstall">
            <intent-filter>
	             <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                 <action android:name="android.intent.action.PACKAGE_ADDED"/>
                  <data android:scheme="package"/> 
            </intent-filter>
        </receiver> 
    </application>
</manifest>